@import url('https://use.typekit.net/izy0ffp.css');

.mainh1{
    font-family: brandon-grotesque, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 20px;

    margin-top: 1.5vw;
}
.blue { color: #6F6B82; }
.mainp{
    font-family: brandon-grotesque, sans-serif;
    display: inline-block;
    text-align: center;
}

img{
    display: block;
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.responsive {
  width: 100%;
  height: auto;

  margin-top: -1vw;
}
.info{
  width: 100%;
  font-family: brandon-grotesque, sans-serif;
  font-size: 2vw;
  display: inline-block;
  text-align: center;
  margin-top: -4vw;
}
/*--------------------popup-----------------------------*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.tooltip {
  display: none;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 50%;
  padding:15px;
  color: white;
  font-family: brandon-grotesque, sans-serif;
  border-radius: 5px;
  background: #a09bbb;
}

/*--------------------countdown-----------------------------*/


.countercontainer {
    color: #6f6b82;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;

    background-color:#a09bbb;
    width:100%;
    height:9vw;

    margin-top: 0;
    margin-left: 0;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .times{
    font-size: 1vw; 
    margin-top: -2vw;
    text-align: center;
  }

  .zoomlabel {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: left;

    margin-top: -0.2vw;
    margin-left: 1vw;
    padding-bottom: 0;
    position: fixed;
  }

  .countLink{
    font-family: brandon-grotesque, sans-serif;

    margin-top: 0vw;
    margin-left: 50vw;
    position: fixed;
  }
  





    .clockdiv {
      font-family: brandon-grotesque, sans-serif;
      color: #fff;
      display: block;
      font-weight: 100;
      text-align: center;
      font-size: 1vw;
      display: flex;
       margin-top: 2vw;

    }
    
    .clockdiv > div {
      padding: 0.3vw;
      background: #00BF96;
      margin: 0.8vw;
    }
    
    .clockdiv div > span {
      font-size: 1.5vw;
      
    }
    
    .smalltext {
      margin-top: 1vw;
      font-size: 0.8vw;
    }

  /*---------------persons--------------------*/
  .intro-box {
    background-color:#a09bbb;
    position: absolute;
    width:100%;
    height:400vh;

    margin-top: 10%;
  }
  .module1 {
    width: 15vw;
    height: 20vw;
    border: 1px solid white;
    background-image: url('media/Abigail.jpg');
    background-size: 500px;

    margin-top: 10%;
    margin-left: 5%;
  }
   .name-1{
     color: #E3BC01 ;
     font-size: 2.5vw;
     font-family: brandon-grotesque, sans-serif;

    line-height: 80%;

     margin-top: -20%;
     margin-left: 22%;
   }

   .module2 {
     width: 15vw;
     height: 20vw;
     border: 1px solid white;
     background-image: url('media/Caretha.jpg');
     background-size: 200px;

     margin-top: -20%;
     margin-left: 50%;
   }
    .name-2{
      color: #E3BC01;
      font-size: 2.5vw;
      font-family: brandon-grotesque, sans-serif;

     line-height: 80%;

      margin-top: -20%;
      margin-left: 68%;
    }

    .module3 {
      width: 15vw;
      height: 20vw;
      border: 1px solid white;
      background-image: url('media/Gabriela.jpg');
      background-size: 300px;

      margin-top: 15%;
      margin-left: 5%;
    }
     .name-3{
       color: #E3BC01;
       font-size: 2.5vw;
       font-family: brandon-grotesque, sans-serif;

      line-height: 80%;

      margin-top: -20%;
      margin-left: 22%;
     }

     .module4 {
       width: 15vw;
       height: 20vw;
       border: 1px solid white;
       background-image: url('media/Honiball.jpeg');
       background-size: 300px;

       margin-top: -20%;
       margin-left: 50%;
     }
      .name-4{
        color: #E3BC01;
        font-size: 2.5vw;
        font-family: brandon-grotesque, sans-serif;

       line-height: 80%;

       margin-top: -20%;
       margin-left: 68%;
      }

      .module5 {
        width: 15vw;
        height: 20vw;
        border: 1px solid white;
        background-image: url('media/Jordyn.jpg');
        background-size: 300px;

        margin-top: 9%;
        margin-left: 5%;
      }
       .name-5{
         color: #E3BC01;
         font-size: 2.5vw;
         font-family: brandon-grotesque, sans-serif;

        line-height: 80%;

        margin-top: -20%;
        margin-left: 22%;
       }

       .module6 {
         width: 15vw;
         height: 20vw;
         border: 1px solid white;
         background-image: url('media/Maddison.jpg');
         background-size: 300px;

         margin-top: -29%;
         margin-left: 50%;
       }
        .name-6{
          color: #E3BC01;
          font-size: 2.5vw;
          font-family: brandon-grotesque, sans-serif;

         line-height: 80%;

         margin-top: -20%;
         margin-left: 68%;
        }

        .module7 {
          width: 15vw;
          height: 20vw;
          border: 1px solid white;
          background-image: url('media/Menghe.jpg');
          background-size: 300px;

          margin-top: 18%;
          margin-left: 5%;
        }
         .name-7{
           color: #E3BC01;
           font-size: 2.5vw;
           font-family: brandon-grotesque, sans-serif;

          line-height: 80%;

          margin-top: -20%;
          margin-left: 22%;
         }

         .module8 {
           width: 15vw;
           height: 20vw;
           border: 1px solid white;
           background-image: url('media/Rosa.png');
           background-size: 200px;

           margin-top: -20%;
           margin-left: 50%;
         }
          .name-8{
            color: #E3BC01;
            font-size: 2.5vw;
            font-family: brandon-grotesque, sans-serif;

           line-height: 80%;

           margin-top: -20%;
           margin-left: 68%;
          }

          .module9 {
            width: 15vw;
            height: 20vw;
            border: 1px solid white;
            background-image: url('media/Simone.jpg');
            background-size: 300px;

            margin-top: 15%;
            margin-left: 5%;
          }
           .name-9{
             color: #E3BC01;
             font-size: 2.5vw;
             font-family: brandon-grotesque, sans-serif;

            line-height: 80%;

            margin-top: -20%;
            margin-left: 22%;
           }

           .module10 {
             width: 15vw;
             height: 20vw;
             border: 1px solid white;
             background-image: url('media/Tracy.jpg');
             background-size: 300px;

             margin-top: -20%;
             margin-left: 50%;
           }
            .name-10{
              color: #E3BC01;
              font-size: 2.5vw;
              font-family: brandon-grotesque, sans-serif;

             line-height: 80%;

             margin-top: -20%;
             margin-left: 68%;
            }

            .module11 {
              width: 15vw;
              height: 20vw;
              border: 1px solid white;
              background-image: url('media/Tyler.jpg');
              background-size: 300px;

              margin-top: 10%;
              margin-left: 5%;
            }
             .name-11{
               color: #E3BC01;
               font-size: 2.5vw;
               font-family: brandon-grotesque, sans-serif;

              line-height: 80%;

              margin-top: -20%;
              margin-left: 22%;
             }

       .ack-box {
           background-color:#6f6b82;
           position: absolute;
           width:100%;
           height:50vh;

           margin-top: 10%;
       }
       .ack-title {
         color: #F77072;
         font-size: 2.5vw;
         font-family: brandon-grotesque, sans-serif;
       }

       .ack-icon{
         font-size: 2vw;
         margin-top: 0.5vw;
         margin-left: 5vw;
       }
  /*---------------social icons--------------------*/
      .icon{
        font-size: 1.2vw;
        margin-top: 0.5vw;
        margin-left: 11vw;
      }

      .fa {
      padding: 10px;
      font-size: 10px;
      width: 8px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      }

      .fa:hover {
          opacity: 0.7;
      }
      .fa-facebook {
        color: #3B5998;
      }
      .fa-youtube {
        color: #bb0000;
      }
      .fa-instagram {
        color: #125688;
      }
      .fa-rss {
        color: #ff6600;
      }
      .fa-github {
        color: black;
      }
      .fa-soundcloud {
        color: #FF9533;
      }
